@tailwind base;
@tailwind components;
@tailwind utilities;

._fWLwS {
    width: 100%;
    display: flex;
    align-items: center;
}

html, body, main {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}